
.overlay {
    position: absolute;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
  }
  
  .auth-container-box {
    padding: 20px;
    /* width: 50vw; */
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .modal-title{
    display: flex ;
    justify-content: space-between;


  }
  .modal-title button {    
    background: none;
  }
  .modal-title button:hover {
    color: rgb(255, 0, 0);
  }
  .form-input{
    display: flex;
    flex-direction: column;
  }

  .form-input input {
    padding: 5px;
    margin: 5px;
  }
  
  .modal {
    /* width: 500px; */
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: rgba(0,0,0, 0.05) 0 6px 24px 0, rgba(0,0,0, 0.08) 0 0 0 1px;
    
  }
  .form-title-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .form-title-container input {
    padding: 10px;
  }
  .modal form {
    display: flex;
    flex-direction: column;
  }
  .modal-button {
    background: none;
  }
  .auth-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .create {
    background-color: rgb(144, 222, 185);
    border: none;
    border-radius: 5px;
  }